img{
	margin: 50px;
	padding: 10px;
	width: 210px;
	height: 200px;
}

#b1 .btn {
	width: 650px;
	height: 70px; 
	background-color: #636363;
	border-color: #636363; 
	font-weight: bold;
}
#b2 .btn {
	width: 650px; 
	height: 150px; 
	background-color: #ce9f61; 
	border-color: #11ce9f61; 
	font-weight: bold;
	font-size: 30px
}
a {
	text-decoration: none;
	color: white;
}

@media (max-width: 767.98px) { 

img{
	margin: 30px;
	width: 150px;
	height: 140px;
}

#b1 .btn {
	width: 350px;
	height: 50px; 
	background-color: #636363;
	border-color: #636363; 
	font-weight: bold;
}
#b2 .btn {
	width: 350px; 
	height: 100px; 
	background-color: #ce9f61; 
	border-color: #11ce9f61; 
	font-weight: bold;
	font-size: 30px
}

 }
